In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("Enrollments Generated 02-12-19.csv")

In [21]:
df.head()

,Student ID,Program,Standing,Academic Term,Transcript Term,Term GPA,Department,Course,Name,Section,...,ZIP/Postal Code,Country,Address type,Private address,Programs,IPEDS Race/Ethnicity,Hispanic or Latino,Race(s),Religion,SAT score
0,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Natural Sciences,BIO 105,Introductory Biology I and LAB,1,...,78009,USA,BILLING,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0
1,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Other,Chapel,Chapel,1,...,78009,USA,BILLING,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0
2,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Natural Sciences,CHE 105,General Chemistry I and LAB,1,...,78009,USA,BILLING,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0
3,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Other,FRS 100,Freshman Seminar,1,...,78009,USA,BILLING,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0
4,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Integrated Core,INT 100,Interdisciplinary Studies,1,...,78009,USA,BILLING,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7528 entries, 0 to 7527
Data columns (total 58 columns):
Student ID                   7528 non-null object
Program                      7527 non-null object
Standing                     0 non-null float64
Academic Term                7528 non-null object
Transcript Term              7527 non-null object
Term GPA                     7527 non-null float64
Department                   7528 non-null object
Course                       7528 non-null object
Name                         7528 non-null object
Section                      7528 non-null int64
Start Date                   7528 non-null object
End Date                     7528 non-null object
Finalized                    7528 non-null object
Primary Faculty              6660 non-null object
Course Campus                2744 non-null object
Status                       7528 non-null object
Status Date                  7528 non-null object
Enrollment Date              7528 non-null object
Delivery Method              4647 non-null object
Enrolled By                  4703 non-null object
Grade                        7339 non-null float64
Letter                       7374 non-null object
Grade Points                 7329 non-null float64
Quality Points               6111 non-null float64
Credits                      7528 non-null int64
Hours                        0 non-null float64
Meetings                     7528 non-null int64
Present                      7528 non-null int64
Absent                       7528 non-null int64
Tardy                        7528 non-null int64
Excused                      7528 non-null int64
Attendance                   7528 non-null int64
% Attended                   7528 non-null object
Populi Course Offering ID    7528 non-null int64
Course Has Been Retaken      7528 non-null object
ACT score                    1510 non-null float64
Advisors                     4473 non-null object
Age                          7523 non-null float64
Citizenship                  6358 non-null object
Entrance Term                7527 non-null object
Gender                       7528 non-null object
GPA                          8 non-null float64
High School                  3943 non-null object
Home City                    7337 non-null object
Lead Source                  5495 non-null object
Street                       7496 non-null object
City                         7485 non-null object
State                        7496 non-null object
ZIP/Postal Code              7485 non-null object
Country                      6950 non-null object
Address type                 7496 non-null object
Private address              7528 non-null object
Programs                     7527 non-null object
IPEDS Race/Ethnicity         7528 non-null object
Hispanic or Latino           4318 non-null object
Race(s)                      5252 non-null object
Religion                     0 non-null float64
SAT score                    2830 non-null float64
dtypes: float64(11), int64(9), object(38)
memory usage: 3.3+ MB

In [23]:
df.columns

Index(['Student ID', 'Program', 'Standing', 'Academic Term', 'Transcript Term',
       'Term GPA', 'Department', 'Course', 'Name', 'Section', 'Start Date',
       'End Date', 'Finalized', 'Primary Faculty', 'Course Campus', 'Status',
       'Status Date', 'Enrollment Date', 'Delivery Method', 'Enrolled By',
       'Grade', 'Letter', 'Grade Points', 'Quality Points', 'Credits', 'Hours',
       'Meetings', 'Present', 'Absent', 'Tardy', 'Excused', 'Attendance',
       '% Attended', 'Populi Course Offering ID', 'Course Has Been Retaken',
       'ACT score', 'Advisors', 'Age', 'Citizenship', 'Entrance Term',
       'Gender', 'GPA', 'High School', 'Home City', 'Lead Source', 'Street',
       'City', 'State', 'ZIP/Postal Code', 'Country', 'Address type',
       'Private address', 'Programs', 'IPEDS Race/Ethnicity',
       'Hispanic or Latino', 'Race(s)', 'Religion', 'SAT score'],
      dtype='object')

In [24]:
datatype={"ZIP": str}

In [25]:
zipcodes=pd.read_csv("https://gist.githubusercontent.com/erichurst/7882666/raw/5bdc46db47d9515269ab12ed6fb2850377fd869e/US%2520Zip%2520Codes%2520from%25202013%2520Government%2520Data",dtype=datatype)

In [26]:
zipcodes.head(100)

      ZIP        LAT        LNG
0   00601  18.180555 -66.749961
1   00602  18.361945 -67.175597
2   00603  18.455183 -67.119887
3   00606  18.158345 -66.932911
4   00610  18.295366 -67.125135
5   00612  18.402253 -66.711397
6   00616  18.420412 -66.671979
7   00617  18.445147 -66.559696
8   00622  17.991245 -67.153993
9   00623  18.083361 -67.153897
10  00624  18.064919 -66.716683
11  00627  18.412600 -66.863926
12  00631  18.190607 -66.832041
13  00637  18.076713 -66.947389
14  00638  18.295913 -66.515588
15  00641  18.263085 -66.712985
16  00646  18.433150 -66.285875
17  00647  17.963613 -66.947127
18  00650  18.349416 -66.578079
19  00652  18.448452 -66.594127
20  00653  17.985033 -66.886536
21  00656  18.053539 -66.792931
22  00659  18.407226 -66.808999
23  00660  18.134695 -67.116199
24  00662  18.468320 -67.015781
25  00664  18.210330 -66.591616
26  00667  18.003422 -67.035810
27  00669  18.277102 -66.869645
28  00670  18.240187 -66.988776
29  00674  18.422908 -66.489337
..    ...        ...        ...
70  00754  18.147107 -65.976167
71  00757  17.995441 -66.391334
72  00765  18.130096 -65.439369
73  00766  18.133196 -66.476916
74  00767  18.069489 -65.896161
75  00769  18.103800 -66.357586
76  00771  18.187148 -65.871189
77  00772  18.438969 -65.905174
78  00773  18.342888 -65.723109
79  00775  18.326599 -65.307720
80  00777  18.224133 -65.908542
81  00778  18.264076 -65.978510
82  00780  18.102834 -66.568105
83  00782  18.225708 -66.221633
84  00783  18.303910 -66.326179
85  00784  18.010714 -66.133615
86  00786  18.155424 -66.229907
87  00791  18.136782 -65.821476
88  00794  18.198955 -66.309833
89  00795  18.060494 -66.500624
90  00801  18.350449 -64.973886
91  00802  18.340862 -64.923479
92  00820  17.743072 -64.686570
93  00823  17.723541 -64.745932
94  00824  17.744557 -64.682933
95  00830  18.338560 -64.736533
96  00831  18.327294 -64.786720
97  00840  17.747872 -64.880695
98  00841  17.768133 -64.807852
99  00850  17.709936 -64.750099

[100 rows x 3 columns]

In [27]:
merge_df=pd.merge(df,zipcodes,how="left", left_on="ZIP/Postal Code", right_on="ZIP")

In [28]:
merge_df.head()

,Student ID,Program,Standing,Academic Term,Transcript Term,Term GPA,Department,Course,Name,Section,...,Private address,Programs,IPEDS Race/Ethnicity,Hispanic or Latino,Race(s),Religion,SAT score,ZIP,LAT,LNG
0,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Natural Sciences,BIO 105,Introductory Biology I and LAB,1,...,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0,78009,29.357251,-98.886655
1,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Other,Chapel,Chapel,1,...,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0,78009,29.357251,-98.886655
2,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Natural Sciences,CHE 105,General Chemistry I and LAB,1,...,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0,78009,29.357251,-98.886655
3,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Other,FRS 100,Freshman Seminar,1,...,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0,78009,29.357251,-98.886655
4,2016000026,Undergraduate,NaN,Fall 2016-2017,Fall 2016-2017,1.31,Integrated Core,INT 100,Interdisciplinary Studies,1,...,No,Undergraduate - Inactive as of 6/13/2017,Black or African American,No,Black or African American,NaN,1180.0,78009,29.357251,-98.886655

In [29]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7528 entries, 0 to 7527
Data columns (total 61 columns):
Student ID                   7528 non-null object
Program                      7527 non-null object
Standing                     0 non-null float64
Academic Term                7528 non-null object
Transcript Term              7527 non-null object
Term GPA                     7527 non-null float64
Department                   7528 non-null object
Course                       7528 non-null object
Name                         7528 non-null object
Section                      7528 non-null int64
Start Date                   7528 non-null object
End Date                     7528 non-null object
Finalized                    7528 non-null object
Primary Faculty              6660 non-null object
Course Campus                2744 non-null object
Status                       7528 non-null object
Status Date                  7528 non-null object
Enrollment Date              7528 non-null object
Delivery Method              4647 non-null object
Enrolled By                  4703 non-null object
Grade                        7339 non-null float64
Letter                       7374 non-null object
Grade Points                 7329 non-null float64
Quality Points               6111 non-null float64
Credits                      7528 non-null int64
Hours                        0 non-null float64
Meetings                     7528 non-null int64
Present                      7528 non-null int64
Absent                       7528 non-null int64
Tardy                        7528 non-null int64
Excused                      7528 non-null int64
Attendance                   7528 non-null int64
% Attended                   7528 non-null object
Populi Course Offering ID    7528 non-null int64
Course Has Been Retaken      7528 non-null object
ACT score                    1510 non-null float64
Advisors                     4473 non-null object
Age                          7523 non-null float64
Citizenship                  6358 non-null object
Entrance Term                7527 non-null object
Gender                       7528 non-null object
GPA                          8 non-null float64
High School                  3943 non-null object
Home City                    7337 non-null object
Lead Source                  5495 non-null object
Street                       7496 non-null object
City                         7485 non-null object
State                        7496 non-null object
ZIP/Postal Code              7485 non-null object
Country                      6950 non-null object
Address type                 7496 non-null object
Private address              7528 non-null object
Programs                     7527 non-null object
IPEDS Race/Ethnicity         7528 non-null object
Hispanic or Latino           4318 non-null object
Race(s)                      5252 non-null object
Religion                     0 non-null float64
SAT score                    2830 non-null float64
ZIP                          7240 non-null object
LAT                          7240 non-null float64
LNG                          7240 non-null float64
dtypes: float64(13), int64(9), object(39)
memory usage: 3.6+ MB

In [30]:
merge_df.fillna(0,inplace = True)

In [31]:
merge_df.to_csv("HistoricalEnrollments.csv")